* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container button {
    border: none;
    outline: none;
    padding: 15px 100px;
    background: #2287ed;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.button-container button:hover {
    background: #2889ea;
}

.button-container button:active {
    background: #1781ec
}

main img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: auto;
    z-index: 2;
}

@media screen and (max-width: 768px) {

    /* Estilos para pantallas con ancho máximo de 768px */
    .roulette-section-container p {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {

    /* Estilos para pantallas con ancho máximo de 576px */
    .roulette-section-container p {
        font-size: 12px;
    }
}